button {
  width: 50px; 
  height: 50px; 
  position:absolute;
  right:40px;
  border-radius:50%;
  background: none; 
  color: inherit;  
  border:solid; 
  transition: transform 0.3s ease;
  user-select:none;
  display: flex;       /* Enables Flexbox */
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
}

button:hover {
  background: #EEE;
  transform: scale(1.1);
}
.camera-button {
  bottom:40px; 
}

.reset-button {
  bottom:100px;
}

.random-button {
  bottom:160px;
}

.info-button {
  bottom:220px;
}

.next-button:hover {
  background: #EEE;
  transform: translate(-50%, 0%) scale(1.1);
}

.next-button {
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.instructions {
  width: 800px; 
  height: auto; 
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
}